@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.content{
  margin-top: 85px;
  margin-left: 280px;
  margin-right: 30px;
  margin-bottom: 10px;
}