@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Anek+Tamil:wght@100..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Noto+Sans+Tamil:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
  margin: 0;
  font-family: 'Work Sans', sans-serif !important;
  /* font-family: "Roboto", sans-serif !important; */
  scroll-behavior: smooth;
}
.content{
  margin-top: 85px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.css-19kzrtu {
  padding: 0px 20px !important;
}
.MuiCardContent-root:last-child{
  padding-bottom: 0 !important;
}

.css-nde9wq-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: rgb(0 0 0) !important;
  background-color: rgb(255 255 255 / 19%) !important;
}

@media (min-width: 600px){
  .MuiContainer-root{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
